* {
    font-family: "Poppins", sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color :#222224;
}

.container {
    background-color: rgba(47, 49, 54, 0.7);
    height: 500px;
    width: 450px;
    display: flex;
    justify-content: center;
    color: white;
    border-radius: 15px;
    cursor: default;
    box-shadow: 4px 6px 6px rgba(47, 49, 54, 0.7);
}

.image {
    padding: 24px;
    text-align: center;
}

img {
    height: 100px;
    border: 2px solid  #4b4c53;
    border-radius: 100%;  
}

.socials {
    display: flex;
    justify-content: center;
    gap: 12px;
    padding: 16px;
}

.titles h2 {
  margin: 0;             
  font-size: 1.5rem;      
  line-height: 1.2;     
}

.titles span {
  display: block;      
  margin-top: 4px;      
  font-size: 1rem;       
  color: #666;           
  line-height: 1.2;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

button {
    border: 1px;
    background-color: #5c63f7;
    border-radius: 12px;
    width: 300px;
    height: 50px;
    color: white;
    cursor: pointer;

    transition: transform 0.3s ease;
}

button:hover {
    transform: scale(1.01);
    background-color: #6266b4;
}

i {
    color: #5c63f7;
    transition: color 0.4 ease;
}

i:hover {
    color:#6266b4;
}


.footer {
    padding: 10px;
}

p {
    color:#666;
}